body
{
	margin: 0;
	padding: 0;
}
ul
{
	list-style-type: none;
	padding-left: 0;
	font-family: "Verdana", helvetica;
	font-size: 14;
}
p
{
	margin: 0;
	padding: 0;
}
li 
{
	margin-bottom: 0px;
}
.mainUl
{
	margin-top: 0px;
	font-size: 11;
	display: none;
}
ul:last-child
{
	margin-bottom: 20px;
}
.bulleted
{
	padding-left: 25px;
}
.bulleted li:before
{
	content:"-";
	position: relative;
	left: -5px;
}
.fullName
{
	font-family: "Georgia", Times, serif; 
	font-size: 50;
}
.h2
{
	font-family: "Georgia", Times, serif; 
	font-weight: bold;
	font-size: 16;
	text-transform: uppercase;
}
.h3
{
	font-family: "Georgia", Times, serif; 
	font-weight: bold;
	font-size: 16;	
}
.h4
{
	font-size: 12;
	font-style: italic;
	
}
.quote
{
	margin-top: 3px;
	margin-left: 12px;
	margin-right: 3px;
}
.clickMe
{
	font-family: "Georgia", Times, serif; 
	font-style: italic;
	font-size: 16;	

	margin-top: -17px;

	display: none;
}
li:h4
{
	
}
.hidden
{
	display:none;
}
.underline
{
	text-decoration: underline;
}
.h3right
{
	text-align: right;
	display: inline;
}
#main
{
	width: 600px;

	position: relative;
	top:0;

	margin: auto;

}
#footer
{
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
	display: none;
}
#footercontent
{
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
}